@font-face{font-family: 'Microsoft YaHei'; src: url('msyh.ttf') format('truetype');}
@font-face{font-family: 'Source Han Sans CN'; font-weight: normal; src: url('SOURCEHANSANSSC-REGULAR.OTF') format('OpenType');}
@font-face{font-family: 'Source Han Sans CN'; font-weight: bolder; src: url('SOURCEHANSANSSC-BOLD.OTF') format('OpenType');}

.letter-space40 {
letter-spacing: 0.5px;
}
.zd-module {
page-break-inside: avoid;
}