<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.jy.job_cx.dao.SIndustryMapper">
  <resultMap id="BaseResultMap" type="com.xm.jy.job_cx.model.SIndustry">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="modifyDate" jdbcType="TIMESTAMP" property="modifydate" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="name_en" jdbcType="VARCHAR" property="nameEn" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, createDate, modifyDate, status, name_en
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_industry
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from s_industry
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xm.jy.job_cx.model.SIndustry">
    insert into s_industry (id, name, createDate, 
      modifyDate, status, name_en
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, 
      #{modifydate,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, #{nameEn,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xm.jy.job_cx.model.SIndustry">
    insert into s_industry
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="createdate != null">
        createDate,
      </if>
      <if test="modifydate != null">
        modifyDate,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="nameEn != null">
        name_en,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null">
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="nameEn != null">
        #{nameEn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xm.jy.job_cx.model.SIndustry">
    update s_industry
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null">
        modifyDate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="nameEn != null">
        name_en = #{nameEn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xm.jy.job_cx.model.SIndustry">
    update s_industry
    set name = #{name,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      modifyDate = #{modifydate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      name_en = #{nameEn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>