<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xm.jy.job_cx.dao.UserMapper" >

    <!-- 注意：jdbcType这里的类型一定要大写-->
    <resultMap id="BaseResultMap" type="com.xm.jy.job_cx.model.User">
        <id column="user_id" property="userId" jdbcType="VARCHAR" />
        <id column="user_name" property="userName" jdbcType="VARCHAR" />
        <id column="user_password" property="userPassword" jdbcType="VARCHAR" />
        <id column="user_gender" property="userGender" jdbcType="INTEGER" />
        <id column="user_birthday" property="userBirthDay" jdbcType="TIMESTAMP" />
        <id column="user_birth_address" property="userBirthAddress" jdbcType="VARCHAR" />
        <id column="user_age" property="userAge" jdbcType="INTEGER" />
    </resultMap>

    <select id="getUserByNameAndPassword" resultMap="BaseResultMap">
        select * from user where user_name = #{userName} and user_password = #{password}
    </select>

    <insert id="userRegister">
        insert into user values (#{userId},#{userName},#{userNickname},#{userPassword},#{userAge},#{userGender},#{userBirthDay},#{userBirthAddress})
    </insert>

    <select id="getUserByName" resultMap="BaseResultMap">
        select * from user where user_name = #{userName}
    </select>

    <!-- 只有一条记录的话 直接用map接-->
    <select id="getSingleUserIdAndName" resultType="map">
        select * from user where user_nickname = 23
    </select>

    <!-- 多个的话用list接，list里放map-->
    <select id="getUserIdAndName" resultType="map">
        select * from user
    </select>


</mapper>